* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	transition: background-color 0.3s, color 0.3s;
}
/* main */
.main{
	flex: 1;
	padding: 1rem;
	height: 60%;
}
h1 {
	padding: auto;
    text-align: left;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.item img {
    width: 100%;
    height: auto;
}

/* Header style */
/* theme-button */
.theme-switch {
	background-color: #666;
	border-radius: 20%;
	font-size: large;
	height: 40px;
	width: 40px;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s;
}
#theme-switch:hover {
	background-color: #333;
}
.header {
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 1rem;
	
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-left {
	
    display: flex;
    align-items: center;
}
/* Logo */
.logo {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	text-decoration:none;
}
/* search bar */
.search-bar-container {
	flex-grow: 1;
    max-width: 600px;
    margin-right: 20px;
}
.search-bar {
	
	display: flex;
	align-items: center;
}

#search-form input[type="text"] {
	padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 100%; }

.search-bar button {
	padding: 8px 15px;
	background-color: #666;
	color: white;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	transition: background-color 0.3s;
}

.search-bar button:hover {
	background-color: #333;
}

/* nevbar*/
.nav-links {
	display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}
.nav-item {
    margin-left: 1rem;
}

.opt {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

.opt:hover {
	color: #666;
}

.menu-icon {
	display: none;
	font-size: 1.5rem;
	cursor: pointer;
}



/* Responsive styles */
@media screen and (max-width: 678px) {
	/* nevbar*/
	.navbar {
        flex-wrap: wrap;
    }
	.navbar-left {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }
	.nav-links {
		display: none;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
	}

	.nav-links.active {
		display: flex;
	}

	.nav-item {
		margin: 0.5rem 0;
	}

	.search-bar-container {
        width: 100%;
        max-width: none;
        margin-right: 0;
        margin-bottom: 1rem;
    }

	.menu-icon {
		display: block;
	}
	/* footer */
	.footer-content {
		flex-direction: column;
	}

	.footer-section {
		margin: 0 20px 30px;
	}
}
/* footer */
.footer {
	background-color: #333;
	color: #fff;
	padding: 40px 0;
	bottom: 0;
	position:static ;
}

.footer-content {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-section {
	flex: 1;
	margin: 0 20px 20px;
	min-width: 200px;
}

.footer-section h3 {
	color: #fff;
	margin-bottom: 20px;
}

.footer-section ul {
	list-style-type: none;
	padding: 0;
}

.footer-section ul li {
	margin-bottom: 10px;
}

.footer-section ul li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-section ul li a:hover {
	color: gray;
}

.social-icons a {
	display: inline-block;
	margin-right: 10px;
	.social-media{
		border-radius: 50%;
		background-color: #fff;
		height: 32px;
		width: 32px;
		box-shadow: 2px 2px 2px 2px #333;
	}
}
.Subscribe-latter{
	width: 100px;
	display: flex;
	align-items: center;
}
	#email {
		padding: 8px;
		border: none;
		border-radius: 4px 0 0 4px;
		width: 200px;
	
	}
	
	 #latter {
		padding: 8px 15px;
		background-color: #666;
		color: white;
		border: none;
		border-radius: 0 4px 4px 0;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	
	 #latter:hover {
		background-color: #333;
	}

.bottom-bar {
	background-color: #333;
	color: #bdc3c7;
	text-align: center;
	padding: 10px 0;
	font-size: 0.9em;
}
